<li>
    <p>
        <% if (locals.user  && locals.user.id==post.user.id){%>
        <small>
            <a href="/posts/destroy/<%=post.id %>"> DEL</a>
        </small>
        <% } %>
    <%= post.content %>
    <br>  
    <small>
        
        <%=post.user.name %>
    </small>
    </p>
</li>