<!-- <html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body> -->
        <!-- <header>
            Page header
        </header> -->
<!-- 
        <%- include('_header'); %> -->
        
        <link rel="stylesheet" href="/css/user_profile.css">
        <h1>codeial /profile Page</h1>
       
        <!-- <%- include('_footer'); %>
         -->
        <!-- <footer>
            Page footer
        </footer> -->

    </body>
</html>